*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(15, 88, 156);
}
.contenedor{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}
.texto{
    padding: 8px;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid rgb(43, 101, 226);
}

.agregar:hover{
    background-color: rgb(240, 25, 97);
    transform: scale(1.1);
    color: antiquewhite;
}
.contenedorTarge{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.targeta{
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}
.pendiente {
    background-color: #e74c3c; 
}

.proceso {
    background-color: #970ff1; 
}

.finalizado {
    background-color: #cc2e78;
}
